

<aside id="menu">
    <h2 id="titulo-menu" align="center">Menu</h2>
    <ul>

        {% if menu == 'contador' %}
            <li><a class="menu-selecionado" href="contador">Contador de Palavras</a></li>
        {% else %}
            <li><a href="contador">Contador de Palavras</a></li>
        {% endif %}

        {% if menu == 'referencias' %}
            <li><a class="menu-selecionado" href="referencias">Gerar Referências</a></li>
        {% else %}
            <li><a href="referencias">Gerar Referências</a></li>
        {% endif %}

        {% if menu == 'sinonimo' %}
            <li><a class="menu-selecionado" href="sinonimo">Buscador de Sinônimos</a></li>
        {% else %}
            <li><a href="sinonimo">Buscador de Sinônimos</a></li>
        {% endif %}

        {% if menu == 'textosin' %}
            <li><a class="menu-selecionado" href="textosin">Texto em Sinônimo</a></li>
        {% else %}
            <li><a href="textosin">Texto em Sinônimo</a></li>
        {% endif %}

        {% if menu == 'normas' %}
            <li><a class="menu-selecionado" href="normas">Normas & Formatação</a></li>
        {% else %}
            <li><a href="normas">Normas & Formatação</a></li>
        {% endif %}

        {% if menu == 'sobre' %}
            <li><a class="menu-selecionado" href="sobre">Sobre...</a></li>
        {% else %}
            <li><a href="sobre">Sobre...</a></li>
        {% endif %}


        <br><br><br><br>

        {% if 'home' == menu %}
            <li><a class="menu-selecionado" href="homepage">Voltar a Página Inicial</a></li>
        {% else %}  
            <li><a href="homepage">Voltar a Página Inicial</a></li>
        {% endif %}    

    </ul>
</aside>